<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles/main.css">
  <title>NASA APOD</title>
</head>

<body>
  <main>
    <div class="header">
      <h1>NASA APOD</h1>
      <h2 id="head2">Astronomy Picture of the Day</h2>
    </div>

    
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>