<%- include('partials/header.ejs'); %> 
     
        <div style="width: 100%; overflow: hidden;">
            <p>
                The NASA Project website was built to learn how to code and use Application Program Interfaces.
                I choose the NASA Astronomy Picture of the Day (APOD) API for my API coding project.
            </p>
        </div>

<%- include('partials/footer.ejs'); %>