<%- include('partials/header.ejs'); %> 
     
    <div class="about">
        <h1>About</h1>
        <p>
            Author: Kenneth P. Potvin <br><br><br>
            Description:<br><br>
            The NASA APOD website was built as a web development learning project. The goal was to learn how to  
            code an Application Program Interfaces (API's) using axios, node.js and express.js.
            I choose the NASA Astronomy Picture of the Day (APOD) API because of its extrodinary images.<br><br>
            References:<br><br>
            NASA API's Website: api.nasa.gov
        </p>
    </div>

<%- include('partials/footer.ejs'); %>