<%- include('partials/header.ejs'); %> 
     
        <div style="width: 100%; overflow: hidden;">
            <div style="width: 750px; float: left;"> <img src="<%= nasaData.url %>" alt="NASA Picture"> </div>
            <div class="explan"> <%= nasaData.explanation  %> </div>
       </div>

       <form class="item" action="/" method="post">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <input type="submit" value="Submit">
      </form> 
        
<%- include('partials/footer.ejs'); %>